<!DOCTYPE html>
<html>
    <title>HTML Tutorial</title>
    <head>
        <link rel="stylesheet" href="static/styles.css">
    </head>
    <body>
        <h1>This is a heading</h1>
        <p>This is a paragraph.</p>
        <h1>This is a heading</h1>
        <p>This is a paragraph.</p>
        <h1>This is a heading</h1>
        <p>This is a paragraph.</p>
        <h1>This is a heading</h1>
        <p>This is a paragraph.</p>

        <h1>This is my list<h1>
        <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>

</html>